fastapi
uvicorn[standard]
httpx
python-jose[cryptography]
prometheus-client
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
pydantic
wheel>=0.46.2
jaraco.context>=6.1.0
